<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>To-Do List</h1>
    <ul class="lists">
        <% for(let i=0; i < info.length; i++) {%>
            <li class="list">
                <span><%= info[i].toDoItem %></span>
                <!-- <span><%= info[i].location %></span> -->
                <span> - </span>
                <span><%= info[i].priorityLevel %></span>
                <!-- <span class='fa fa-trash'></span> -->
            </li>
        <% } %>
        <!-- <span>groceries</span>
        <span>laundry</span> -->
        </ul>

    <h2>Add Something To Do</h2>

    <form action="/addToDoItem" method="POST">
        <input type="text" placeholder="Insert To Do Here" name="toDoItem">
        <input type="text" placeholder="Priority" name="priorityLevel">
        <input type="submit">
    </form>
    
    <script src='js/main.js'></script>
</body>
</html>